In [6]:
%pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=1.2 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.1.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: zipp>=3.1.0 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.16.2)
Requirement already satisfied: six>=1.5 in c:\users\naveenjeyasankar\anaconda3\envs\tf_gpu\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/294.9 kB 660.6 kB/s eta 0:00:01
   -------------------------------------- - 286.7/294.9 kB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 294.9/294.9 kB 3.0 MB/s eta 0:00:00
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import numpy as np
import tensorflow as tf
import seaborn as sns

In [4]:
data =pd.read_csv('train.csv')
data.head()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [9]:
sns.pairplot([data['v.id','on road old','on road now','years','km','rating','condition','economy','top speed','hp','torque','current price']],diag_kind='kde')

KeyError: ('v.id', 'on road old', 'on road now', 'years', 'km', 'rating', 'condition', 'economy', 'top speed', 'hp', 'torque', 'current price')